@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

/* Utility to hide scrollbars while keeping scrolling functional */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
} 
